.nanumsquare {
  font-family: "NanumSquare", sans-serif !important;
}

.card-title {
  font-weight: bold;
}

.fwb {
  font-weight: bold;
}

.mb40 {
  margin-bottom: 40px;
}

.disNone {
  display: none;
}

.disInit {
  display: initial;
}

.custom-flex {
  display: flex;
  justify-content: flex-end;
}

.ml-auto {
  margin-left: auto;
}

.searchBox {
  display: flex;
  justify-content: flex-end;
}
